<% provide(:title, "Help") %>
<h1>Help</h1>
<p>This is a basic task-tracker application.</p>

Task creation shortcuts:
<ul>
<li>desc: <i>this will be put in the description</i></li>
<li>completed!</li>
<li>!1 [task will have priority 1. up to 4, the default.]</li>
<li>due:(date) [due date can be e.g. "next tuesday", "jan 14", etc]</li>
</ul>
