var $perm = $("#permission");
$perm.html("<%= escape_javascript render @permission %>");
$perm.attr("id", "permission_<%= @permission.id %>");
$perm.after('<tr id="permission"><%= escape_javascript render @permission.task.permissions.build %></td>');
permissionsReady(); // defined in permissions.js, attaches handlers to new items